@media (max-width: 1100px) {
  .display-pokemon-container {
    display: none;
  }

  .main-content {
    flex-direction: column;
    padding: 0 20px;
  }

  form {
    margin-right: 20px;
    margin-left: 20px;
  }

  .body-responsive {
    display: none;
  }
}
