@media (max-width: 1100px) {
  .main-content {
    display: block;
    margin: 0 auto;
  }

  .display-pokemon-container {
    display: none;
  }

  .display-pokemon-responsive {
    display: block;
    margin: 0 auto;
  }

  form {
    margin-right: 20px;
    margin-left: 20px;
  }

  .img {
    height: 45px;
  }

  .form-container {
    display: block;
    margin: 0 auto;
  }

  .select-pokemon-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  body {
    padding: 0;
    margin: 0;
  }

  .body-responsive {
    display: block;
    margin: 0 auto;
  }

  .select-pokemon-card {
    width: 200px;
  }

  .select-pokemon-card {
    width: 80%;
    max-width: 250px;
  }
}
