* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonClassicFont";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

html {
  font-family: "PokemonClassicFont";
  background-image: url("../imgs/light-mode.png");
  background-color: #f0f0f0;
}

html.dark-theme {
  background-image: url("../imgs/dark-mode.png");
  background-color: #2d2d2d;
}

html.dark-theme #loading-pikachu {
  background-color: #2d2d2d;
}

html.theme-transition {
  transition: 0.4s;
}

html.dark-theme .display-pokemon {
  background-color: #222;
  color: white;
}

html.dark-theme .height-and-weight h4 {
  color: white;
  background-color: #5e5e5e;
}

html.dark-theme .select-pokemon-card {
  background-color: #222;
  color: white;
}

html.dark-theme .ability-info h4 {
  color: white;
  background-color: #5e5e5e;
}

header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 3px 6px -6px #222;
}

.main-content {
  display: flex;
  gap: 40px;
  padding: 0 80px;
  margin-top: 60px;
  align-items: flex-start; /* ensures sticky works */
  min-height: 2000px; /* large enough for scrolling */
}

body::selection {
  background-color: #f54c4c;
  color: white;
}

#loading-pikachu {
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
  transition: opacity 2s ease-in-out;
}

#loading-pikachu.hidden {
  opacity: 0;
  pointer-events: none;
}

.img {
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.volume {
  height: 60px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.prompt {
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  width: 600px;
  font-size: 18px;
  box-shadow: 0 3px 6px -6px #222;
}

.btn-search {
  padding: 15px 20px;
  background-color: #f54c4c;
  filter: drop-shadow(0 0 1px #f54c4c); /* Makes the btn glow */
  box-shadow: 0 3px 6px -6px #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.no-selected-pokemon {
  display: block;
  height: 150px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 110px;
}

.display-pokemon-container {
  position: sticky;
  top: 250px;
  align-self: flex-start;
  width: 420px;
}

.display-pokemon-container h3 {
  font-size: 14px;
  margin-top: 150px;
  font-size: 15px;
}

.display-pokemon {
  background-color: #f0f0f0;
  color: black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 78vh;
  padding: 0 40px;
}

.display-pokemon h3 {
  text-align: center;
}

.select-pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.select-pokemon-card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  color: black;
  cursor: pointer;
  transition: transform 0.5s;
}

.select-pokemon-card:hover {
  transform: scale(1.1);
}

.select-pokemon-card img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.select-pokemon-card-content {
  padding: 16px;
  text-align: center;
}

.select-pokemon-card-content h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
}

.pokemon-name {
  margin-bottom: 10px;
}

.type-container {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 10px;
  opacity: 0.8;
}

.type-ability {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 15px;
  margin: 10px -10px 0 20px;
}

span.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  margin-left: 50px;
}

.ability {
  background-color: #e5e5e5;
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  font-size: 12px;
  margin: 5px;
  margin-top: 20px;
}

.abilities-container {
  margin-top: 35px;
}

.abilities-container h2 {
  font-size: 18px;
  text-align: center;
}

.ability-info {
  display: flex;
  justify-content: space-evenly;
}

.n-degree {
  opacity: 0.6;
}

.description-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 25px;
  line-height: 1.9;
}

.height-and-weight {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.height-and-weight h2 {
  font-size: 15px;
}

.weight {
  text-align: center;
}

.height-and-weight h4 {
  font-size: 12px;
  text-align: center;
}

.height-weight {
  margin-top: 20px;
  background-color: #e5e5e5;
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.evolution-container {
  margin-top: 35px;
}

.evolution-pokemon-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.evolution-container h2 {
  font-size: 18px;
  text-align: center;
}

.evolution-pokemon {
  width: 40px;
  transition: transform 0.5s;
  image-rendering: pixelated;
}

.evolution-pokemon-container a img {
  width: 80px;
  height: 80px;
}

.evolution-pokemon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.wrapper {
  display: block;
  margin: -150px auto;
  text-align: center;
}

.pokemon-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokemon-img {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  height: 15vh;
  object-fit: contain;
  image-rendering: pixelated; /*This makes the image look pixelated */
}

.pokemon-png {
  image-rendering: pixelated;
}

.hp-container {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.hp-bar {
  height: 100%;
  transition: width 0.3s ease;
}
