* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonClassicFont";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

html {
  background-image: url("../imgs/light-mode.png");
  font-family: "PokemonClassicFont";
}

html.dark-theme {
  background-image: url("../imgs/dark-mode.png");
  color: white;
}

html.theme-transition {
  transition: 0.4s;
}

.select-pokemon-dark {
  background-color: #222;
  color: white;
}

header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 3px 6px -6px #222;
}

.img {
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.volume {
  height: 60px;
}

.loading-pokeball {
  height: 80px;
  float: left;
}

.sound {
  display: flex;
  height: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.prompt {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 600px;
  box-shadow: 0 3px 6px -6px #222;
}

.btn-search {
  padding: 12px 20px;
  background-color: #f54c4c;
  filter: drop-shadow(0 0 1px #f54c4c); /* Makes the btn glow */
  box-shadow: 0 3px 6px -6px #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-pokemon-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 120px;
  border-radius: 8px;
  height: 82vh;
}

.no-selected-pokemon {
  display: block;
  height: 150px;
  margin: 0 auto;
}

.select-pokemon-container h3 {
  font-size: 14px;
  margin-top: 150px;
}

.select-pokemon {
  /*background-color: #222;*/
  background-color: aliceblue;
  color: black;
  padding: 90px 90px 90px 90px;
  height: 82vh;
  border-radius: 8px;
}
