* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../imgs/light-mode.png");
}

body.theme-transition {
  transition: 0.4s;
}

.dark-theme {
  background-image: url("../imgs/dark-mode.png");
  color: white;
}

.img {
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.volume {
  height: 60px;
}

.loading-pokeball {
  height: 80px;
  float: left;
}

.sound {
  display: flex;
  height: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.prompt {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 600px;
}

/*.btn-search {
  width: 20px;
  height: 25px;
  padding: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #f54c4c;
  color: white;
  margin-left: 5px;
}*/

.btn-search {
  padding: 12px 20px;
  background-color: #f54c4c;
  color: white;
  border: none;
  border-radius: 5px;
}

/*.container input[type="text"] {
  font-size: 18px;
  padding: 15px;
  width: 600px;
  border: none;
  border-radius: 8px;
}

.container button {
  width: 52px;
  height: 52px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #f54c4c;
  color: white;
  margin-left: 5px;
}*/
