* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonClassicFont";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

html {
  background-image: url("../imgs/light-mode.png");
  font-family: "PokemonClassicFont";
}

html.dark-theme {
  background-image: url("../imgs/dark-mode.png");
  color: white;
}

html.theme-transition {
  transition: 0.4s;
}

html.dark-theme .display-pokemon {
  background-color: #222;
  color: white;
}

html.dark-theme .select-pokemon-card {
  background-color: #222;
  color: white;
}

header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 3px 6px -6px #222;
}

.img {
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.volume {
  height: 60px;
}

.loading-pokeball {
  height: 80px;
  float: left;
}

.sound {
  display: flex;
  height: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.prompt {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 600px;
  box-shadow: 0 3px 6px -6px #222;
}

.btn-search {
  padding: 12px 20px;
  background-color: #f54c4c;
  filter: drop-shadow(0 0 1px #f54c4c); /* Makes the btn glow */
  box-shadow: 0 3px 6px -6px #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  display: flex;
  gap: 40px;
  padding: 0 80px;
  margin-top: 60px;
}

.no-selected-pokemon {
  display: block;
  height: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.display-pokemon-container {
  position: sticky;
  top: 300px;
  align-self: flex-start;
  width: 320px;
}

.display-pokemon-container h3 {
  font-size: 14px;
  margin-top: 150px;
}

.display-pokemon {
  background-color: aliceblue;
  color: black;
  padding: 90px 90px 90px 90px;
  height: 82vh;
  border-radius: 8px;
}

.select-pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.select-pokemon-card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  color: black;
  cursor: pointer;
  transition: transform 0.5s;
}

.select-pokemon-card:hover {
  transform: scale(1.1);
}

.select-pokemon-card img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.select-pokemon-card-content {
  padding: 16px;
  text-align: center;
}

.span {
  opacity: 0.3;
  font-size: 10px;
}

.select-pokemon-card-content h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
}

.type-container {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 10px;
  opacity: 0.8;
}
