* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonClassicFont";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

html {
  background-image: url("../imgs/light-mode.png");
  font-family: "PokemonClassicFont";
}

html.dark-theme {
  background-image: url("../imgs/dark-mode.png");
  color: white;
}

html.theme-transition {
  transition: 0.4s;
}

html.dark-theme .display-pokemon {
  background-color: #222;
  color: white;
}

/*html.dark-theme .width-height-container p {
  background-color: #222;
  color: white;
}*/

html.dark-theme .height-and-weight h4 {
  color: white;
  background-color: #5e5e5e;
}

html.dark-theme .select-pokemon-card {
  background-color: #222;
  color: white;
}

html.dark-theme .ability-info h4 {
  color: white;
  background-color: #5e5e5e;
}

header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 3px 6px -6px #222;
}

.img {
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.volume {
  height: 60px;
}

.loading-pokeball {
  height: 80px;
  float: left;
}

.sound {
  display: flex;
  height: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.prompt {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 600px;
  box-shadow: 0 3px 6px -6px #222;
}

.btn-search {
  padding: 12px 20px;
  background-color: #f54c4c;
  filter: drop-shadow(0 0 1px #f54c4c); /* Makes the btn glow */
  box-shadow: 0 3px 6px -6px #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  display: flex;
  gap: 40px;
  padding: 0 80px;
  margin-top: 60px;
}

.no-selected-pokemon {
  display: block;
  height: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.display-pokemon-container {
  position: sticky;
  top: 300px;
  align-self: flex-start;
  width: 320px;
}

.display-pokemon-container h3 {
  font-size: 14px;
  margin-top: 150px;
  font-size: 15px;
}

.display-pokemon {
  /*background-color: aliceblue;*/
  /*background-color: #ffffff;*/
  background-color: #f0f0f0;
  color: black;
  padding: 90px 90px 90px 90px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  padding: 0;
}

.select-pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.select-pokemon-card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  color: black;
  cursor: pointer;
  transition: transform 0.5s;
}

.select-pokemon-card:hover {
  transform: scale(1.1);
}

.select-pokemon-card img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.select-pokemon-card-content {
  padding: 16px;
  text-align: center;
}

.span {
  opacity: 0.3;
  font-size: 10px;
}

.select-pokemon-card-content h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
}

.type-container {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 10px;
  opacity: 0.8;
}

.pokemon-img {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 66vh;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
  max-width: 350px;
  max-height: 22vh;
}

.abilities {
  text-align: center;
}

.type-ability {
  margin-right: 20px;
  padding: 10px 10px;
  margin: 5px;
  font-size: 13px;
  border-radius: 8px;
}

.n-degree {
  opacity: 0.6;
}

.display-pokemon h3 {
  text-align: center;
}

.display-pokemon p {
  margin-top: 50px;
  font-size: 12px;
  line-height: 1.9;
  text-align: center;
}

.height-and-weight {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-top: 30px;
}

.width {
  text-align: center;
}

.height-and-weight h4 {
  font-size: 15px;
  text-align: center;
}

.height-width {
  margin-top: 20px;
  background-color: #b2b3be;
  border-radius: 8px;
  padding: 10px;
}

.abilities-container {
  margin-top: 30px;
}

.abilities-container h2 {
  font-size: 18px;
  text-align: center;
}

.ability-info {
  display: flex;
  justify-content: space-around;
}

.ability {
  margin-right: 15px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #b2b3be;
  border-radius: 8px;
  padding: 10px;
}

.evolution-container {
  margin-top: 40px;
}

.evolution-container h2 {
  font-size: 18px;
  text-align: center;
}

.evolution-pokemon-container {
  display: flex;
  margin-top: 20px;
}

.evolution-pokemon {
  margin-left: 20px;
  margin-right: 20px;
  width: 70px;
  height: 70px;
  transition: transform 0.5s;
}

.evolution-pokemon:hover {
  transform: scale(1.1);
}

.display-pokemon-content-container {
  text-align: center;
}
